.warning-icon {
  height: 150px;
  margin: 50px;
  animation: zoominoutsinglefeatured 1s 2;
}

.text-description {
  font-size: 27px;
  margin: 10px;
  display: flex;
  align-items: center;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: black;
  z-index: 10000;
}
