<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create Character</h4>
  <button
    (click)="closeModal()"
    type="button"
    class="btn-close"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <span>
    <label for="input">Name</label>
    <input class="form-control" [(ngModel)]="character.name" />
  </span>

  <span>
    <label for="input">Description</label>
    <input class="form-control mr-sm-2" [(ngModel)]="character.description" />
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSave()">
    Save
  </button>
</div>
