<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="./../../assets/img/marvel-logo.png"
      style="height: 40px; margin: 5px"
      alt="logo-marvel"
    />
  </a>

  <ul class="navbar-nav">
    <li class="nav-item active">
      <input
        class="form-control mr-sm-2"
        style="margin-left: 10px; margin-right: 10px"
        type="search"
        placeholder="Search character"
        [(ngModel)]="nameStartsWith"
        aria-label="Search"
        (ngModelChange)="filterByName()"
      />
    </li>
  </ul>
</nav>
