<ng-template #editCharacterModal>
  <edit-character-modal
    [character]="auxCharacter"
    (close)="closeEditModal()"
    (dismiss)="closeEditModal()"
    (save)="saveCharacter($event)"
  ></edit-character-modal>
</ng-template>

<ng-template #createCharacterModal>
  <create-character
    (close)="closeCreateModal()"
    (dismiss)="closeCreateModal()"
    (save)="createCharacter($event)"
  ></create-character>
</ng-template>

<loading-marvel *ngIf="loading"></loading-marvel>

<div *ngIf="!loading" class="container characters">
  <button
    (click)="openCreateCharacter()"
    class="btn btn-outline-dark button-on-top"
  >
    + Create New Character
  </button>

  <ng-template #noneCharacters>
    <div class="alert alert-warning" role="alert">
      No se encontró ningún personaje con ese nombre!
    </div>
  </ng-template>

  <div
    *ngIf="characters.length; else noneCharacters"
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()"
  >
    <div class="row" style="justify-content: center">
      <div *ngFor="let character of characters" class="col-auto mb-3">
        <div class="card" style="width: 18rem">
          <img
            *ngIf="character.thumbnail?.path"
            [src]="
              character.thumbnail.path + '.' + character.thumbnail.extension
            "
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ character.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ character.modified | date }}
            </h6>
            <p class="card-text text-truncate">
              {{ character.description }}
            </p>
          </div>
          <div class="card-footer">
            <a (click)="openEditCharacter(character)" class="btn btn-primary"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  .card {
    height: 100%;
  }
</style>
