<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Character</h4>
  <button
    (click)="closeModal()"
    type="button"
    class="btn-close"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <span>
    <label for="input">Name</label>
    <input
      class="form-control"
      placeholder="Name"
      [(ngModel)]="character.name"
    />
  </span>

  <span class="property">
    <label for="input">Image URL</label>
    <input
      class="form-control"
      placeholder="Source Image"
      [(ngModel)]="character.thumbnail.path"
    />
    <input
      class="form-control"
      placeholder="Extension"
      [(ngModel)]="character.thumbnail.extension"
    />
  </span>

  <span>
    <label for="input">Description</label>
    <textarea
      class="form-control mr-sm-2"
      [(ngModel)]="character.description"
      placeholder="Description"
      rows="4"
      cols="50"
    >
    </textarea>
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSave()">
    Save Character
  </button>
</div>
